/*

CUMAN GINI DOANG
KEJAR TAYANG
GAUSAH DIINTIP :v

*/


body {
   font-family: 'Dosis', sans-serif;
   background-color: #aaaaaa;
   color: #fff;

   background-image: url(image.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   min-width: 100%;
   min-height: 100%;
}

h1 {
   font-size: 2em;
   margin-top: -.5em;
   letter-spacing: 2px;
   text-align: center;
}

.imgstyle {
   width: 4em;
   height: auto;
   padding: 0 1em;
   position: relative;
   text-align: center;
}

.centered {
   position:fixed;
   top: 50%;
   left: 50%;
   width:50%;
   height:64%;
   margin-top: -20%;
   margin-left: -25.5%;
   padding: .5em;
   border-radius: 0.3em;
}

.centered-bg {
   position:fixed;
   top: 50%;
   left: 50%;
   width:50%;
   height:60%;
   margin-top: -20%;
   margin-left: -25%;

   border-radius: 0.3em;
   background-color: #000;
   opacity: 0.8;

   -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.63);
   -moz-box-shadow:    0px 1px 20px 0px rgba(0, 0, 0, 0.63);
   box-shadow:         0px 1px 20px 0px rgba(0, 0, 0, 0.63);

}

.formnim {
   margin: 0 auto;
   transition: background-color 0.5s ease;
   width: 50%;
   background-color:rgba(5, 5, 5, 0.73);
   color: #fff;
   font-size: 1.5em;
   border: 0px;
   padding: .5em;
   text-align: center;
}

#search {
   display: none;
}


.forresult {
   margin: 0 auto;
   margin-top: 1.5em;
   text-align: center;
   font-size: 1.6em;
   letter-spacing: 3px;
   font-weight: bolder;;
   color: #fff;
}

.forresult a {
   text-decoration: none;
   color: #fba106;
}

.forresult a:hover {
   text-decoration: underline;
}

.garis {
   display: none;
}

small {
   font-size: .8em;
   letter-spacing: 1px;
}

@media only screen and ( max-width: 768px ) {

   body {
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
   }

   .imgstyle {
      width: 15%;
   }

   .garis {
      display: block;
      border: 0px;
      border-bottom: 1px solid #aaa;
   }

   h1{
      margin-top: 15%;
      font-size: 1.25em;
   }
   .centered-bg {
      top: 0%;
      left: 50%;
      width:86%;
      height:100%;
      margin-top: 0%;
      margin-left: -43%;
      padding-left: 0;
      border-radius: 0;
   }

   .centered {
      top: 0%;
      left: 50%;
      width:80%;
      height:100%;
      margin-top: 0%;
      margin-left: -43%;
      padding: 5% 3%;
   }

   .formnim {
      width: 80%;
      font-size: 1.2em;
   }

   .forresult {
      margin-top: 2em;
      font-size: 1.2em;
      font-weight: bolder;;
      color: #fff;
   }

   small {
      font-size: .9em;
      letter-spacing: 1px;
   }
}
